body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h1{
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: arial;
}
h2{
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  font-family: arial;
}
.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}

input{
  margin-top: 10px;
}

.add0ption{
  margin-top: 10px;
}
